body {
  /*max-width: 1000px;*/

  font-family: 'Trade Gothic', Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0 auto;
}

figure {
  margin: 0;
}

.monogram {
  max-width: 15%;
  display: flex;
  padding-left: 1em;
  padding-bottom: 10em;
  position: absolute;
}

.logo {
  max-width: 35%;
  align-content: center;
  padding: 5em;
}

/*.boxtop {
  width: 3000px;
  height: 100px;
  background: #655B4F;
  max-width: 100%;
}*/

img {
  max-width: 100%;
  align: center;
}

h1 {
  /*max-width: 1000px;*/
  padding: .5em;
  font-family: 'Charter', cursive, serif;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  color: #E0D1BA;
}

h2 {
  /*max-width: 1000px;*/
  padding: 3em;
  font-family: 'Baskerville', serif;
  font-size: 1.4em;
  text-align: center;
  color: #655B4F;
  font-style: italic;
  line-height: 1.5em;
}

p {
  font-family: 'Trade Gothic LT';
  text-decoration: none;
}

footer {
  font-family: 'Trade Gothic LT', sans-serif;
  background-color: #ebe6e0;
  padding: 1em;
  color: #655B4F;

}

h3 {
  font-family: 'Trade Gothic LT', sans-serif;
}

li {
  padding: .3em;
  font-family: 'Baskerville', serif;
  font-size: 1.4em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  color: #E0D1BA;
}

.email {
  text-decoration: none;
  color: #655B4F;
}

.email:hover {
  color: #E0D1BA;
}

.vinepoles {
  display: flex;
  max-width: 100%;
}

.links:hover {
      text-decoration: none;
      color: #E0D1BA;
}

.links {
      text-decoration: none;
      color: #655B4F;
}

.bottles {
    height: 90vh;
    background-image: url(wine-bottle-sizes-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bottles__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.bottles__text {
    max-width: 50%;
    width: 100%;
    z-index: 100;

    /*z-index: 100;
    padding: 1em;
    color: #f3f3f3;
    font-family: "Baskerville", Arial, sans-serif;
    font-size: 1em;
    text-align: center;*/
}

/* All this does is add a 50% black background on top of the image */
.bottles:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.45);
    top: 0;
    left: 0;
    display: block;
    content: "";
}

@media screen and (min-width: 800px) {

  nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
}

/* HAMBURGER */
body{
	margin:0;
	width:100%;
	height:100vh;
  	background:;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header{
	width:100%;
	background:;
	height:60px;
	line-height:60px;
	border-bottom:0em solid #282828;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#282828;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
/*.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;*/
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #655B4F; text-decoration:none;}
.menu a{text-decoration:none; color:#655B4F;}
.menu a:hover{text-decoration:none; color:#655B4F;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
header{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;}

/* NAVIGATION CODE */

nav[role=navigation] {
           clear: both;
           -webkit-transition: all 0.3s ease-out;
           -moz-transition: all 0.3s ease-out;
           -ms-transition: all 0.3s ease-out;
           -o-transition: all 0.3s ease-out;
           transition: all 0.3s ease-out;
       }
       .js nav[role=navigation] {
           overflow: hidden;
           max-height: 0;
       }
       nav[role=navigation].active {
           max-height: 15em;
       }
       nav[role=navigation] ul {
           margin: 0;
           padding: 0;
           border-top: 1px solid #808080;
       }
       nav[role=navigation] li a {
           display: block;
           padding: 0.8em;
           border-bottom: 1px solid #808080;
       }

       @media screen and (min-width:800px) {
           a.menu-link {
              display: none;
           }
           .js nav[role=navigation] {
               max-height: none;
           }
           nav[role=navigation] ul {
               margin: 0 0 0 -0.25em;
               border: 0;
           }

           nav[role=navigation]  li {
               display: inline-block;
               margin: 0 0.25em;
           }
           nav[role=navigation] li a {
               border: 0;
           }
       }
/* NAVIGATION CODE */

/* JS CODE */

















/*
   medium gray: #ebe6e0
   off white: #f3f3f3
   light brown: #E0D1BA
   dark brown: #655B4F
*/



/* div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}
